<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="scale.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="scale.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=DESKTOP-PSCD49P\SQLEXPRESS;Initial Catalog=MYDB;User ID=sa;Password=nassar2020"
            providerName="System.Data.SqlClient" />
        <add name="scale.Properties.Settings.MYDBConnectionString" connectionString="Data Source=DESKTOP-PSCD49P\SQLEXPRESS;Initial Catalog=MYDB;User ID=sa;Password=nassar2020"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <scale.Properties.Settings>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="pass" serializeAs="String">
                <value />
            </setting>
            <setting name="remember" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>DESKTOP-PSCD49P\\SQLEXPRESS</value>
            </setting>
            <setting name="DBuser" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="DBpass" serializeAs="String">
                <value>nassar2020</value>
            </setting>
            <setting name="ServerConnectionString" serializeAs="String">
                <value>Data Source=DESKTOP-PSCD49P\SQLEXPRESS;Initial Catalog=MYDB;User ID=sa;Password=nassar2020</value>
            </setting>
            <setting name="serverTable" serializeAs="String">
                <value>MYDB</value>
            </setting>
        </scale.Properties.Settings>
    </userSettings>
</configuration>